.project.main-wrapper {
    background-color: #92FFF8;
}

.project.content-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project.content-wrapper > * {
    padding: 2rem 0;
}

.project.content-wrapper > span {
    text-align: center;
}

.project.content-wrapper > a,a:link,a:visited,a:hover,a:active {
    text-decoration: none;
}

/* ================= Old CSS ================= */
.project-container {
    background-color: #D5F9F9;
}

.project.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}