.skill {
    padding: 0 0 50px 0;
    position: relative;
}

.skill-box {
    background-color: black;
    border-radius: 65px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
}

.skill h2 {
    font-size: 45px;
    font-weight: 700;
}

.skill h5 {
    text-align: center;
}

.skill p {
    color: #888888;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}

.skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.skill-slider .item img {
    width: 50%;
    margin: 0 auto 15px auto;
}

.skill-slide {
    height: 50vh;
    overflow: scroll;
}

.slide-item {
    width: 100%;
    height: 50vh;
    margin: 2px;
    background-color: aquamarine;
}

.slide-item > h1 {
    text-align: center;
}