.email-logo {
    width: 100%;
    filter: invert(100%);
}

/* .contact-container{
    background-color: #78055F;
}

h1.contact-title {
    color: #5d8de6f6;
}

.contact-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    column-gap: 2.5rem;
}

.about-container {
    background-color: #E0B8FF;
}

.contact {
    flex-direction: column;
    justify-content: center;
    row-gap: 10vh;
} */